body {
  background-color: rgb(240, 240, 240);
}

.refreshBtn {
    border-radius: 10px;
    border: 1.5px solid burlywood;
    padding: 1%;
    margin: 3px;
    color: #6495ED;
  }
  
.refreshBtn:hover {
    cursor: pointer;
    color: burlywood;
    border-radius: 10px;
    border: 1.5px solid burlywood;
  }
  
.infoBtn:hover {
    cursor: pointer;
    color: burlywood;
    border-radius: 10px;
    border: 1.5px solid burlywood;
  }
  
.infoBtn {
    border-radius: 10px;
    border: 1.5px solid burlywood;
    margin: 3px;
    color: #6495ED;

  }

  .priceIncreased {
    color: green;
  }
  
  .priceDecreased {
    color: red;
    background-color: rgba(0, 0, 0, 0);
  }
  
  