/* Base styles */
.containerStyle {
    background-color: rgb(204, 204, 204);
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.formStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(0, 220, 255);
    width: 100%; /* Make the form full width */
    max-width: 400px; /* Limit the form's maximum width */
}

.labelStyle {
    font-weight: bold;
}

.inputStyle {
    width: 100%; /* Make the input fields full width */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submitButtonStyle,
.signUpButtonStyle {
    padding: 0.5rem 1rem;
    margin: 0; /* Adjust margin for spacing */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    color: white;
}
