.clearBtn {
    border: none;
    outline: none;
    cursor: pointer;
}

.closeBtn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;
}

.searchBtn {
    border: none;
    cursor: pointer;
    padding: 7px;
}

.searchInputStyle {
    border-radius: 5px;
    width: 15.5%;
    border: none;
    outline: none;
    font-size: medium;
    background-color: rgb(240, 240, 240);
}

.searchDiv {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(240, 240, 240);
    padding: 7px;
}
